body {
    background-color: #c7e2ff;
}

.game-selection {
    display: flex;
    min-width: 1000px;
    min-height: 100px;
    margin: 20px;
    background-color: #fff;
}

.game-description {
    min-width: 850px;
}

.btn {
    position: relative;
    background-color: rgb(30, 109, 255);
    border: none;
    color: whitesmoke;
    font-size: 16px;
    cursor: pointer;
    font-size: 20px;
  }
  