<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">
    <title>{{title}}</title>
</head>
<body>
<header>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">megabrain3800</a>
        {% if current_user.is_authenticated: %}
            <div class="profile">
                <img src='{{ url_for("static", filename="img/user-icon.png") }}' class="icon">
                <a class="navbar-brand" href="/logout">{{ current_user.name }}</a>
            </div>
        {% else %}
            <p>
            <a class="btn btn-outline-secondary" href="/register">Registration</a>
            <a class="btn btn-outline-secondary " href="/login">Log in</a>
        </p>
        {% endif %}
    </nav>
</header>
<!-- Begin page content -->
<main role="main" class="container">
    {% block content %}{% endblock %}
</main>
</body>
</html>