{% extends "base.html" %}

{% block content %}
    <form action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <p>
            <img src="{{ user.icon }}" alt="нет картинки брат добавь пж" width="100" height="100"><br>
            {{ form.icon(type='file', class='form-control-file') }} 
            {% for error in form.icon.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            {{ form.nickname.label }}
            {{ form.nickname(class='form-control') }}
            {% for error in form.nickname.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>{{ form.submit(type='submit', class='btn btn-success') }}</p>
        {{ message }}
    </form>
    

{% endblock %}