{% extends "base.html" %}

{% block content %}
    <h1>Add game</h1>
    <form action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <p>
            {{ form.icon.label }}<br>      
            {{ form.icon(type='file', class='form-control-file') }}
            {% for error in form.icon.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            {{ form.title.label }}<br>
            {{ form.title(class='form-control') }}
            {% for error in form.title.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            {{ form.description.label }}<br>
            {{ form.description(class='form-control') }}
            {% for error in form.description.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            {{ form.archive.label }}<br>      
            {{ form.archive(type='file', class='form-control-file') }}
            {% for error in form.archive.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>{{ form.submit(type='submit', class='btn btn-primary') }}</p>
        {{ message }}
    </form>
{% endblock %}