{% extends "base.html" %}

{% block content %}
<div class="game-selection" href="/">
    <img src="{{ url_for('static', filename='img/cs-logo.jpg') }}" alt="" style="border: 2px solid #000">
    <div class="d-flex flex-column">
        <div class="game-title">
            <a class="title" href="/" style="text-decoration: none; color: #000;"><h2>Counter Strike 1.6</h2></a>
        </div>
        <div class="game-description">
            <p>Very interesting game. Play with your friends and enjoy of killing people! Helloasdfasdf adsf asdas dfasdf asd asdfasdfasd asdf asdfad fasdf adf asdf asdfa a</p>
        </div>
    </div>  
    <button class="btn"><i class="fa fa-download"></i>Download</button>
</div>
{% endblock %}